<footer>
    <hr />
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h6 class="font-weight-bold">About</h6>
                <ul>
                    <li class="my-2">How to reserve</li>
                    <li class="my-2">Our mission</li>
                    <li class="my-2">Changing the World</li>
                    <li class="my-2">New's feed</li>
                </ul>
            </div>

            <div class="col-md-4 mb-4">
                <h6 class="font-weight-bold">Help</h6>
                <ul>
                    <li class="my-2">Terms and Conditions</li>
                    <li class="my-2">Payment</li>
                    <li class="my-2">Order Information</li>
                    <li class="my-2">Troubleshoot</li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h6 class="font-weight-bold">Support</h6>
                <ul>
                    <li class="my-2">Become a guide</li>
                    <li class="my-2">Become a traveller</li>
                    <li class="my-2">FAQ</li>
                    <li class="my-2">Contact us</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div class="footer-copyright text-center">
        <p>&copy; 2020 TamHome | Haeun Kim</p>
    </div>
    <div class="text-center mb-2">
        <i class="social-icon fab fa-twitter fa-lg"></i>
        <i class="social-icon fab fa-facebook-f fa-lg"></i>
        <i class="social-icon fab fa-instagram fa-lg"></i>
    </div>
</footer>