{{>header}}
<div class="bg">
  <p class="desc">Your Booking Information</p>
</div>

<section class="form my-4 mx-5">
  <div class="alert alert-success" role="alert">
    <h3 class="alert-heading font-weight-bold">Your room is booked!</h3>

    <p>Thank you for booking at Tamhome! We will send your booking confirmation detail to your email.<br>
      <b>"If you want to see your booking detail, you can see it in the my booking section"</b>
    </p>
    <a class="btn btn-primary" href="/room/mybooking" role="button">My booking</a>
  </div>
</section>
{{>footer}}